# Environment variables
.env.local
.env.*.local

# Dependencies
node_modules/
yarn.lock
package-lock.json

# Expo
.expo/
dist/
.expo-shared/
.env

# Build
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Mobile
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
